@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #c6c6c6;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title-content {
  display: flex;
  justify-content: center;
  background-image: url("/images/Film.png");
  background-size: cover;
  background-color: rgba(97, 96, 96, 0.5);
  height: 10rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 6px;
}

h1 {
  text-align: center;
  color: #fffcfc;
  font-family: Fijalla One;
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  width: 80%;
  padding: 10px;
  font-size: 1.25rem;
  border: 1px solid #ccf;
  border-radius: 6px;
}

#searchButton,
#clearSearch,
#showFavorites {
  padding: 10px 20px;
  font-size: 1.25rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(0, 136, 255);
}

#searchButton:hover,
#clearSearch:hover,
#showFavorites:hover {
  background-color: #0056b3;
}

/* Contenedor de resultados */
#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.movie-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  color: #666;
}

.favorite-button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.favorite-button:hover {
  background-color: #ff6b81;
}

/* Paginación */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#pagination button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

#pageInfo {
  font-size: 16px;
  color: #333;
}
